<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
</head>
<body>
    <form action="/doctors/new" method="POST">
        Speciality: <input type="text" name="spec">
        <br>
        Starts Work: <input type="time" name="start_work">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>