<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicines</title>
</head>
<body>
    <form action="/medicines/new" method="POST">
        Name: <input type="text" name="name">
        <br>
        Quantity: <input type="integer" name="quantity">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>