<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
</head>
<body>
    <form action="/patients/new" method="POST">
        Weight: <input type="decimal" name="weight">
        <br>
        Arrived at: <input type="time" name="arrived_at">
        <br>
        Left at: <input type="time" name="left_at">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>
