<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles</title>
</head>
<body>
    <form action="/roles/new" method="POST">
        Role: <input type="text" name="role">
        <button>Submit</button>
    </form>
</body>
</html>