<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
</head>
<body>
    <form action="/teams/add" method="POST">
        Description: <input type="text" name="desc">
        <br>
        Procedure Info.: <input type="text" name="procedure">
        <br>
        Due date: <input type="date" name="due_date">
        <br>
        Start Time: <input type="time" name="start_time">
        <br>
        End Time: <input type="time" name="end_time">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>