<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendors</title>
</head>
<body>
    <form action="/vendors/new" method="POST">
        Company: <input type="text" name="company">
        <br>
        Tel. Num.: <input type="text" name="tel_num">
        <br>
        Address: <input type="text" name="address">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>