<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
</head>
<body>
    <form action="/departments/{{dept.id}}/edit" method="POST">
        Speciality: <input type="text" value="{{dept.name}}" name="name">
        <br>
        Building: <input type="text" value="{{dept.building}}" name="building">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>