<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescriptions</title>
</head>
<body>
    <form action="/prescriptions/{{prescription.id}}/edit" method="POST">
        Description: <input type="text" value="{{prescription.description}}" name="description">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>